<!doctype html>
<head>
    <link rel="stylesheet" href="static/index.css">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{.SiteTitle}}</title>
</head>
<body>
<div class="container">
    <header class="site-header">
        <h1 class="site-title">{{.SiteTitle}}</h1>
    </header>
    <main>
        <ul class="post-list">
            {{range .posts}}
            <li class="post-list-item">
                <article class="post">
                    <header class="post__header">
                        <h1 class="post__title">{{.Title}}</h1>
                        <p class="post__meta">
                            {{.CreatedAt | ShowTime}}
                        </p>
                    </header>
                    <main class="post__body">
                        {{.Body | RenderMarkdown}}
                    </main>
                </article>
            </li>
            {{end}}
        </ul>
    </main>
    <footer class="site-footer">
        {{.SiteFooter | RenderMarkdown}}
    </footer>
</div>
</body>
