<!doctype html>
<html>
<head>
    <base href="/">
    <link rel="stylesheet" href="static/index.css">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{.SiteTitle}}</title>
</head>
<body>
<div class="container">
    <header class="site-header">
        <h1 class="site-title">
            <a class="site-title__link" href="{{$.Urls.LinkToTopPage}}">{{.SiteTitle}}</a>
        </h1>
    </header>
    <main class="site-main">
        {{template "content" .}}
    </main>
    <footer class="site-footer">
        {{.SiteFooter | RenderMarkdown}}
    </footer>
</div>
</body>
</html>
