site-title = "Textvid Blog"
data-source-name = "user:pass@tcp(address:port)/name"
template-dir = "./templates"
static-dir = "./static"
site-footer = "Copyright &copy; YOUR NAME"
locale = "UTC"
base-url = "http://localhost/"
run-level = "development"
local-git-repository = "/tmp/textvid-blog"
remote-git-repository = "https://host.git/textvid-blog.git"
