@import "./index.css";

.post-editor__title {
    font-size: large;
}

.post-editor__field-label {
    margin: 0.25rem;
}

.post-editor__field {
    margin: 0.25rem;
}

.post-editor__input {
    width: 100%;
    font-size: inherit;
    line-height: 1.6;
    margin-bottom: 0.5rem;
    font-family: monospace;
}

.post-editor__textarea {
    width: 100%;
    height: 30rem;
    font-size: inherit;
    line-height: 1.6;
    font-family: monospace;
}

.post-editor__action-list {
    padding: 0;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.post-editor__action {
    list-style-type: none;
}

.post-editor__field-submit {
    width: 8rem;
    font-size: smaller;
}
