{{template "_header.tmpl" . -}}
{{with .post -}}
<article class="post">
<header class="post__header">
<h1 class="post__title">
<a class="post__title-link" href="{{$.Urls.LinkToPostPage .}}">{{.Title}}</a>
</h1>
<p class="post__meta">
{{.Date | ShowTime}}
</p>
</header>
<main class="post__body">
{{.Body | RenderMarkdown -}}
</main>
</article>
<nav class="post-nav">
<ul class="post-nav__list">
<li class="post-nav__item">
←
{{if .NextPost -}}
<a href="{{$.Urls.LinkToPostPage .NextPost}}">{{.NextPost.Title}}</a>
{{else -}}
<span class="post-nav--disable">(no post)</span>
{{end -}}
</li>
<li class="post-nav__item">
→
{{if .PreviousPost -}}
<a href="{{$.Urls.LinkToPostPage .PreviousPost}}">{{.PreviousPost.Title}}</a>
{{else -}}
<span class="post-nav--disable">(no post)</span>
{{end -}}
</li>
</ul>
</nav>
{{end -}}
{{template "_footer.tmpl" . -}}
