{{template "_header.tmpl" . -}}
<ul class="post-list">
{{range .posts -}}
<li class="post-list-item">
<article class="post">
<header class="post__header">
<p class="post__meta">
{{.Date | ShowTime}}
</p>
<h1 class="post__title">
<a class="post__title-link" href="{{$.Urls.LinkToPostPage .}}">{{.Title}}</a>
</h1>
</header>
<main class="post__body">
{{.Body | RenderMarkdown -}}
</main>
</article>
</li>
{{end -}}
</ul>
<nav class="post-nav">
<ul class="post-nav__list">
<li class="post-nav__item-next">
{{if .NextPosts -}}
&lt; <a href="{{.Urls.LinkToPostListPage .CurrentQuery.Next}}">Next Posts</a>
{{else -}}
<span class="post-nav--disable">&lt; no posts</span>
{{end -}}
</li>
<li class="post-nav__item-previous">
{{if .PreviousPosts -}}
<a href="{{.Urls.LinkToPostListPage .CurrentQuery.Previous}}">Previous Posts</a> &gt;
{{else -}}
<span class="post-nav--disable">no posts &gt;</span>
{{end -}}
</li>
</ul>
</nav>
{{template "_footer.tmpl" . -}}
